<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Сухие строительные смеси ARDECO для ремонта и реставрации объектов культурного наследия и памятников архитектуры">
    <meta name="yandex-verification" content="c616fe4156b4ea71" />

    <%- include("layouts/links.ejs") %>
    <%- include("layouts/yandex.ejs") %>

    <script src="../static/script/main.js" defer></script>
    <script src="../static/script/gallery.js" defer></script>

    <title>ГЛАВНАЯ</title>
</head>
<body>

    <%- include("layouts/header.ejs") %>
    <div class="gallery">
        <div class="gallery__container">
            <div class="gallery__block fade_in">
                <img src="/static/images/gallery/PressFoto_21253263-Medium_1.jpeg" alt="gallery photo">
                <div class="gallery__product">
                    <h2 class="gallery__product_title">ARDECO КЛАССИКА</h2>
                    <p class="gallery__product_info">Ремонт, реконструкция и реставрация внутренних помещений и фасадов зданий</p>
                    <p class="gallery__product_info">Паропоницаемость, водо- и морозостойкость</p>
                    <p class="gallery__product_info">Высокая прочность сцепления с основанием</p>
                    <p class="gallery__product_info">Стойкость к образовнию грибков и плесени</p>
                    <a class="gallery__product_link" href="/group/classic">Перейти</a>
                </div>
            </div>
            <div class="gallery__block">
                <img src="/static/images/gallery/PressFoto_21323706-Medium_2.jpeg" alt="gallery photo">
                <div class="gallery__product">
                    <h2 class="gallery__product_title">ARDECO КЛАДОЧНАЯ</h2>
                    <p class="gallery__product_info">Укладка силикатного и керамического кирпича, каменных блоков при реставрации и реконструкции</p>
                    <p class="gallery__product_info">Прочность, водо- и морозостойкость</p>
                    <a class="gallery__product_link" href="/group/masonry">Перейти</a>
                </div>
            </div>
            <div class="gallery__block">
                <img src="/static/images/gallery/PressFoto_460298-Medium_1.jpeg" alt="gallery photo">
                <div class="gallery__product">
                    <h2 class="gallery__product_title">ARDECO ПРОФИ</h2>
                    <p class="gallery__product_info">Финишное выравнивание поверхностей</p>
                    <p class="gallery__product_info">Пластичность и удобство в работе</p>
                    <p class="gallery__product_info">Для профилированных эелементов фасада</p>
                    <a class="gallery__product_link" href="/group/profi">Перейти</a>
                </div>
            </div>
            <div class="gallery__block">
                <img src="/static/images/gallery/PressFoto_21405051-Medium_1.jpeg" alt="gallery photo">
                <div class="gallery__product">
                    <h2 class="gallery__product_title">ARDECO ОРИГИНАЛЬНАЯ</h2>
                    <p class="gallery__product_info">Ремонт и реставрация стен и потолков, профилированных декоративных деталей внутри помещений</p>
                    <p class="gallery__product_info">Паропроницаемость</p>
                    <p class="gallery__product_info">Высокая прочность сцепления с основанием</p>
                    <p class="gallery__product_info">Пластичность и удобство в работе</p>
                    <a class="gallery__product_link" href="/group/original">Перейти</a>
                </div>
            </div>
            <div class="gallery__block">
                <img src="/static/images/gallery/gallery-sanitize.jpeg" alt="gallery photo">
                <div class="gallery__product">
                    <h2 class="gallery__product_title">ARDECO САНИРУЮЩАЯ</h2>
                    <p class="gallery__product_info">Осушение и реставрация влажных стен</p>
                    <p class="gallery__product_info">Заделка стыков и отдельных неровностей оснований</p>
                    <p class="gallery__product_info">Снижение капиллярного всасывания</p>
                    <p class="gallery__product_info">Водоотталкивающий поверхностный слой</p>
                    <a class="gallery__product_link" href="/group/sanitizing">Перейти</a>
                </div>
            </div>
            <div class="gallery__block">
                <img src="/static/images/gallery/PressFoto_297513-Medium_1.jpeg" alt="gallery photo">
                <div class="gallery__product">
                    <h2 class="gallery__product_title">ARDECO РЕМСОСТАВ</h2>
                    <p class="gallery__product_info">Восстановление облицовки из кирпича и камня</p>
                    <p class="gallery__product_info">Воссоздание целостности поверхности лицевого и природного камня</p>
                    <p class="gallery__product_info">Восполнение утрат в исторической кладке</p>
                    <a class="gallery__product_link" href="/group/repair">Перейти</a>
                </div>
            </div>
        </div>

        <div class="gallery__nav-block">
            <div class="gallery__nav-menu">
<!--                <a class="gallery__shift-btn prev">-->
<!--                    <?xml version="1.0" encoding="utf-8"?>&lt;!&ndash; Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools &ndash;&gt;-->
<!--                    <svg fill="#000000" width="40px" height="40px" viewBox="0 0 24 24" id="previous-1" data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color"><polygon id="secondary" points="8 12 15 16 15 8 8 12" style="fill: none; stroke: rgb(44, 169, 188); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polygon><rect id="primary" x="3" y="3" width="18" height="18" rx="1" style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></rect></svg>-->
<!--                </a>-->
                <div class="gallery__crumbs">
                    <div class="gallery__dot active"></div>
                    <div class="gallery__dot"></div>
                    <div class="gallery__dot"></div>
                    <div class="gallery__dot"></div>
                    <div class="gallery__dot"></div>
                    <div class="gallery__dot"></div>
                </div>
<!--                <a class="gallery__shift-btn next">-->
<!--                    <?xml version="1.0" encoding="utf-8"?>&lt;!&ndash; Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools &ndash;&gt;-->
<!--                    <svg fill="#000000" width="40px" height="40px" viewBox="0 0 24 24" id="next-square" data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color"><polygon id="secondary" points="9 8 9 16 16 12 9 8" style="fill: none; stroke: rgb(44, 169, 188); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polygon><rect id="primary" x="3" y="3" width="18" height="18" rx="1" transform="translate(24 24) rotate(180)" style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></rect></svg>-->
<!--                </a>-->
            </div>
        </div>

    </div>


    <main class="main center">
        <div class="container">
            <section class="about">
                <div class="about__info">
                    <%- include("layouts/plant.svg") %>
                    <h3>Более 10 лет <br>на рынке</h3>
                    <p>Опыт работы в производстве сухих строительных смесей различного назначения</p>
                </div>
                <div class="about__info">
                    <%- include("layouts/lab.svg") %>
                    <h3>Собственные разработки</h3>
                    <p>Лаборатория по разработке рецептур и проверки качества сырья и материалов</p>
                </div>
                <div class="about__info">
                    <%- include("layouts/computer.svg") %>
                    <h3>Современные технологии</h3>
                    <p>Материалы для ремонта и реставрации объектов культурного наследия</p>
                </div>
            </section>

            <div class="line"></div>

            <div class="documentation">
                <div id="lime-plaster-specification" class="documentation__link">
                    <img src="/static/images/docs/plastering_1.jpeg" alt="plaster">
                    <p class="documentation__link_info">ИЗВЕСТКОВАЯ ШТУКАТУРНАЯ ПРОГРАММА</p>
                    <a href="/static/docs/ТТК_известковая_программа_ARDECO.pdf" target="_blank" class="documentation__program">.pdf</a>
                </div>
                <div id="lime-hydraulic-specification" class="documentation__link">
                    <img src="/static/images/docs/brick-wall_1.jpeg" alt="brick wall">
                    <p class="documentation__link_info">ИЗВЕСТКОВАЯ ПРОГРАММА (С ГИДРАВЛИЧЕСКОЙ ДОБАВКОЙ)</p>
                    <a href="/static/docs/ТТК_известковая_программа_ARDECO_с_гидравлической_добавкой.pdf" target="_blank" class="documentation__program">.pdf</a>
                </div>
                <div id="lime-gypsum-specification" class="documentation__link">
                    <img src="/static/images/docs/gypsum-plaster_1.jpeg" alt="plaster">
                    <p class="documentation__link_info">ИЗВЕСТКОВО-ГИПСОВАЯ ПРОГРАММА</p>
                    <a target="_blank" href="/static/docs/ТТК_известково-гипсовая_программа_ARDECO.pdf" class="documentation__program">.pdf</a>
                </div>
                <div id="sanitizing-plastering-specification" class="documentation__link">
                    <img src="/static/images/docs/wet-wall_1.jpeg" alt="wet wall">
                    <p class="documentation__link_info">САНИРУЮЩАЯ ПРОГРАММА</p>
                    <a target="_blank" href="/static/docs/ТТК_санирующая_программа_ARDECO.pdf" class="documentation__program">.pdf</a>
                </div>
            </div>
        </div>
    </main>

    <%- include("layouts/footer.ejs") %>

</body>
</html>