<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include("../layouts/links.ejs") %>
    <%- include("../layouts/yandex.ejs") %>

    <script src="../../static/script/main.js" defer></script>
    <script src="../../static/script/scroller.js" defer></script>
    <script src="../../static/script/toggle_submenu.js" defer></script>
    <script src="../../static/script/specifications_gallery.js" defer></script>
    <script src="../../static/script/jquery-1.7.1.js"></script>
    <script src="../../static/script/jquery.tablify.js"></script>
    <script src="../../static/script/jquery.tablify.ext.js"></script>

    <title><%- title %></title>
</head>
<body id="top">

    <%- include("../layouts/header.ejs") %>

    <div class="center">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="/">ГЛАВНАЯ</a></li>
            </ul>
        </div>
    </div>

    <main class="center">
        <div class="container">
            <h2 class="main_header">ТИПОВАЯ ТЕХНОЛОГИЧЕСКАЯ КАРТА</h2>
            <h1 class="subheader">НА ВЫПОЛНЕНИЕ РАБОТ ПО РЕСТАВРАЦИИ ШТУКАТУРНЫХ ФАСАДОВ ЗДАНИЙ РЕСТАВРАЦИОННЫМИ МАТЕРИАЛАМИ «ARDECO»</h1>
            <h4 class="specification">Известковая штукатурная программа</h4>

            <nav class="toc scrollto">
                <h3>ОГЛАВЛЕНИЕ</h3>
                <ol>
                    <li>
                        <div class="toc__submenu_none"></div>
                        <a href="#preparation" class="link_no_transition">1. Подготовительные работы</a>
                    </li>
                    <li>
                        <div class="toc__submenu">
                            <%- include("../../static/images/arrow.svg")%>
                            <div class="toc__submenu_list">
                                <ul class="documentation_list">
                                    <li><a href="#wash">2.1 Промывка штукатурного поля фасада.</a></li>
                                    <li><a href="#delete-dirt">2.2 Удаление биологических загрязнений.</a></li>
                                    <li><a href="#antisalt-treatment">2.3 Анитисолевая обработка.</a></li>
                                    <li><a href="#mechanical-treatment">2.4 Механическая расчистка.</a></li>
                                    <li><a href="#defects-repair">2.5 Ремонт дефектов сохраняемого штукатурного слоя.</a></li>
                                </ul>
                            </div>
                        </div><a href="#prepare_base" class="link_no_transition">2. Подготовка основания</a>

                    </li>
                    <li>
                        <div class="toc__submenu_none"></div>
                        <a href="#brickwork_repair" class="link_no_transition">3. Ремонт кирпичной кладки</a>
                    </li>
                    <li>
                        <div class="toc__submenu">
                            <%- include("../../static/images/arrow.svg")%>
                            <div class="toc__submenu_list">
                                <ul class="documentation_list">
                                    <li><a href="#splashing">4.1 Нанесение обрызга.</a></li>
                                    <li><a href="#priming">4.2 Нанесение грунта.</a></li>
                                    <li><a href="#covering">4.3 Нанесение накрывочного слоя.</a></li>
                                    <li><a href="#putty">4.4 Нанесение шпатлевочного слоя.</a></li>
                                </ul>
                            </div>
                        </div>
                        <a href="#plaster_layer_restoration" class="link_no_transition">4. Восстановление штукатурного слоя</a>
                    </li>
                    <li>
                        <div class="toc__submenu_none"></div>
                        <a href="#facade_elements_repair" class="link_no_transition">5. Ремонт профилированных элементов фасада</a>
                    </li>
                    <li>
                        <div class="toc__submenu_none"></div>
                        <a href="#facade_finishing_coating" class="link_no_transition">6. Финишное покрытие фасада здания</a>
                    </li>
                    <li>
                        <div class="toc__submenu">
                            <%- include("../../static/images/arrow.svg")%>
                            <div class="toc__submenu_list">
                                <ul class="documentation_list">
                                    <li><a href="#plaster-splashing">7.1 Нанесение обрызга.</a></li>
                                    <li><a href="#plaster-priming">7.2 Нанесение грунта.</a></li>
                                    <li><a href="#plaster-covering">7.3 Нанесение накрывочного слоя.</a></li>
                                </ul>
                            </div>
                        </div>
                        <a href="#basement_plastering" class="link_no_transition">7. Оштукатуривание поверхностей цоколей, подвалов, влажных помещений</a>
                    </li>
                    <li>
                        <div class="toc__submenu_none"></div>
                        <a href="#safety_precautions" class="link_no_transition">8. Техника безопасности</a>
                    </li>
                    <li>
                        <div class="toc__submenu_none"></div>
                        <a href="#quality_requirements" class="link_no_transition">9. Требования к качеству и приемке работ</a>
                    </li>
                    <li>
                        <div class="toc__submenu_none"></div>
                        <a href="#instrument_cleaning" class="link_no_transition">10. Очистка инструмента</a>
                    </li>
                    <li>
                        <div class="toc__submenu_none"></div>
                        <a href="#specifications" class="link_no_transition">11. Технические характеристики материалов «ARDECO»</a>
                    </li>
                </ol>
            </nav>

            <section class="documentation_section" id="preparation">
                <h3>1. Подготовительные работы</h3>
                <hr>
                <p>До начала производства работ на объекте должны быть выполнены следующие работы:</p>
                <ul class="documentation_list">
                    <li>ограждены места производства работ;</li>
                    <li>освещены рабочие места;</li>
                    <li>завезены на объект и подготовлены к эксплуатации механизмы, приспособления,
                        инструменты, инвентарь;</li>
                    <li>проверены механизмы на холостом ходу, тщательно осмотрены шланги, устранены
                        изломы и перегибы;</li>
                    <li>организовано место для размещения склада материалов;</li>
                    <li>доставлены в достаточном количестве необходимые составы и материалы;</li>
                    <li>проверены подводки электроэнергии, воды и сжатого воздуха;</li>
                    <li>произведено обучение рабочих способам приготовления составов;</li>
                    <li>произведен инструктаж и ознакомление рабочих со способами и приемами безопасного
                        ведения работ и организации рабочего места;</li>
                </ul>
                <p>Работы следует начинать только после:</p>
                <ul class="documentation_list">
                    <li>обследования состояния конструкций сооружения, разработки дефектной ведомости;</li>
                    <li>согласования с заказчиком дефектной ведомости;</li>
                    <li>разработки технических решений по ремонту сооружения или его отдельных
                        конструктивных элемент;</li>
                    <li>согласования с заказчиком графика выполнения работ;</li>
                    <li>получения письменного разрешения на производство работ и допуск к месту их
                        проведения при необходимости.</li>
                </ul>
                <p>Реставрационные работы, будут успешными при условии, что процессе обследования будут
                    установлены не только виды дефектов и их объем, но и причины, вызывающие их появление, которые
                    должны быть устранены в ходе производства ремонтных работ. Оценка состояния конструкции
                    может производиться визуально, с помощью фототехники и инструментально. Предпочтение следует
                    отдавать инструментальным способам оценки состояния конструкций по общепринятым методикам
                    их выполнения, используя экспресс методы неразрушающего контроля. При оценке состояния
                    конструкций по основным физико-механическим характеристикам, определяющим долговечность
                    конструкций, рекомендуется проводить лабораторные испытания образцов взятых из конструкции.
                    По результатам обследования разрабатывается дефектная ведомость с пояснительной запиской,
                    в которой указываются причины возникновения повреждений, приводятся результаты испытаний.
                    Дефектная ведомость является исходным документом для разработки технических решений по
                    ремонту сооружения или его отдельных конструктивных элементов.</p>
            </section>
            <section class="documentation_section" id="prepare_base">
                <h3>2. Подготовка основания</h3>
                <hr>
                <h4 id="wash">2.1 Промывка штукатурного поля фасада.</h4>
                <p>Основание должно быть прочным, очищено от пыли, жира, краски, битума и других веществ,
                    ослабляющих сцепление с основанием. Для этого штукатурное поле стен фасада необходимо
                    промыть техническими моющими средствами нейтрального типа под давлением.
                </p>
                <h4 id="delete-dirt">2.2 Удаление биологических загрязнений. </h4>
                <p>При наличии на основаниях биологических загрязнений (грибок, мох, плесень и т.д.) необходимо
                    произвести обработку с санирующим составом ARDECO. Санирующий состав ARDECO наносится
                    кистью за 2-3 прохода методом «мокрое по мокрому», выдерживается 30 минут. Затем выполняется
                    механическая зачистка жесткими щетками, смоченными водой. После механического удаления
                    загрязнений поле омывается водопроводной водой. Дальнейшее нанесение штукатурки возможно
                    не ранее, чем через 2 суток.
                </p>
                <h4 id="antisalt-treatment">2.3 Анитисолевая обработка.</h4>
                <p>При наличии на основании солевого налета требуется произвести антисолевую обработку.
                    Очистку следует производить сверху вниз.
                </p>
                <p>Антисолевая обработка включает в себя следующие операции:<p>
                <ul class="documentation_list">
                    <li>очистка крупных наростов солей механически с помощью металлических щеток;</li>
                    <li>обильная пропитка очищаемой поверхности водой;</li>
                    <li>очистка от высолов с помощью раствора-очистителя.</li>
                </ul>
                <p>Пропитку осуществляют до насыщения поверхностного слоя водой, когда прекращается
                    впитывание влаги в поверхность кирпича.
                </p>
                <p>Очистку поверхностей производят по мокрому основанию.
                </p>
                <p>После очистки необходимо окончательно промыть обработанные поверхности водой. Очищенные
                поверхности следует защитить от атмосферных осадков. Последующие работы по ремонту фасада
                    возможно производить через 1 сутки.
                </p>
                <h4 id="mechanical-treatment">2.4 Механическая расчистка. </h4>
                <p>
                    Перед нанесением штукатурки необходимо удалить с оснований все непрочные слои штукатурки.
                Слои штукатурки, потерявшей внутреннее сцепление или сцепление с кирпичной кладкой, подлежат
                полному демонтажу. Крепкодержащиеся на основании штукатурные слои демонтажу не подлежат.
                Механическая расчистка производится ручным инструментом (шпателями, кирками, топорами) либо
                с помощью насадок на электроинструмент, соблюдая осторожность, что бы не повредить кирпичную
                кладку.
                </p>
                <p>
                    Удаление старого лакокрасочного покрытия по сохраняемым поверхностям производится ручным
                способом шпателями, циклями, кордщетками до паропроницаемого штукатурного слоя.
                </p>
                <h4 id="defects-repair">2.5 Ремонт дефектов сохраняемого штукатурного слоя. </h4>
                <p>
                    Выявленные в ходе подготовки поверхности волосяные трещины на прочнодержащихся слоях
                штукатурки необходимо расшить до основания на глубину 3 мм и обработать адгезионным грунтом
                ARDECO 2-3 раза. Непосредственно перед нанесением грунт необходимо перемешать. Расход
                адгезионного грунта ARDECO составляет 0,3-0,4 кг/м2.
                </p>
                <p>
                    Трещины шириной раскрытия более 0,3 мм расшить с помощью ручного электроинструмента
                с абразивным кругом с целью образования углубления V-образный формы. Глубина расшивки
                должна быть до слоя штукатурки без проявления трещины и составлять не менее 1/3 от толщины
                штукатурного слоя. Расшитые трещины тщательно очищаются от остатков раствора и пыли. Расшитые
                трещины, кромки и борта старой штукатурки грунтуют акрилатной грунтовкой ARDECO.
                </p>
                <p>
                    Время выдержки обработанных грунтом поверхностей перед нанесением штукатурки не менее
                1 суток. Далее расшитые трещины необходимо заполнить <a href="/profi/profi-base">шпаклевкой «ARDECO ПРОФИ БАЗОВАЯ»</a>.
                Для этого в емкость, достаточную для перемешивания, налить достаточное количество чистой воды
                и засыпать в нее постоянно перемешивая 20 кг смеси. Перемешать вручную или механическим
                способом с помощью электромеханического миксера со смесительной насадкой до получения
                однородной смеси. После 5 минутного отстаивания смеси необходимо произвести повторное
                перемешивание. Растворная смесь пригодна к использованию в течение 2 часов.
                </p>
                <p>
                    Перед нанесением материала створы расшитых трещин необходимо увлажнить водой. Трещины
                необходимо заполнить с помощью шпателя строго к верхним границам накрывочного слоя.
                </p>

            </section>
            <section class="documentation_section" id="brickwork_repair">
                <h3>3. Ремонт кирпичной кладки</h3>
                <hr>
                <p>
                    При наличии повреждений кирпичной кладки необходимо выполнить работы по устранению
                    данных дефектов. Солевые отложения по кирпичной кладке должны быть зачищены кордщетками
                    или грубым абразивным полотном. При наличии биопоражения необходимо провести мероприятия
                    указанные в п. 2.2 данной ТТК. Если кирпичная кладка сырая, а времени на её сушку недостаточно,
                    рекомендуется принудительная просушка. При повреждении кирпича более чем на 1/3, его
                    необходимо заменить на новый прочностью не менее М150. Трещины в клинчатых перемычках
                    ремонтируются согласно типовым решениям. В качестве кладочного раствора для кладки и зачеканки
                    полостей необходимо использовать <a href="/masonry/mortar">кладочный раствор известковый «ARDECO БЛОК»</a> . Для этого в
                    емкость, достаточную для перемешивания, налить достаточное количество чистой воды и засыпать
                    в нее постоянно перемешивая 25 кг смеси. Перемешать вручную или механическим способом с
                    помощью электромеханического миксера со смесительной насадкой до получения однородной
                    смеси. После 5 минутного отстаивания смеси необходимо произвести повторное перемешивание.
                    Растворная смесь пригодна к использованию в течение 2 часов. Формирование кладочных швов
                    необходимо выполнять до начала схватывания раствора. Перед ремонтом кирпичной кладки
                    необходимо ознакомиться с инструкцией по применению «ARDECO БЛОК».
                </p>
            </section>
            <section class="documentation_section" id="plaster_layer_restoration">
                <h3>4. Восстановление штукатурного слоя</h3>
                <hr>
                <p>
                <p>Оштукатуривание поверхности фасадов выполняется путем:</p>
                    <ul class="documentation_list">
                        <li>обрызга, нанесения одного слоя грунта и последующей его затирки - при выполнении простой штукатурки;</li>
                        <li>обрызга, нанесения одного слоя грунта и накрывочного слоя с последующим его разравниванием и затиркой - при выполнении улучшенной штукатурки;</li>
                        <li>обрызга, нанесения слоя грунта, одного - двух накрывочных слоев с последующим разравниванием и затиркой или нанесением декоративного слоя с последующим его
                            офактуриванием - при выполнении высококачественной штукатурки.</li>
                    </ul>
                <p>Устройство многослойного штукатурного покрытия включает в себя следующие операции:</p>
                    <ul class="documentation_list">
                        <li>нанесение обрызга составом <a href="/classic/hard-grained">«ARDECO КЛАССИКА КРУПНОЗЕРНИСТАЯ»</a> </li>
                        <li>нанесение грунта составом «ARDECO КЛАССИКА КРУПНОЗЕРНИСТАЯ»;</li>
                        <li>нанесение накрывочного слоя <a href="/classic/fine-grained">«ARDECO КЛАССИКА МЕЛКОЗЕРНИСТАЯ»</a> .</li>
                    </ul>
                <h4 id="splashing">4.1 Нанесение обрызга.</h4>
                <p>Нанесение обрызга выполняется составом «ARDECO КЛАССИКА КРУПНОЗЕРНИСТАЯ», необходимо
                для прочного сцепления штукатурного намета с основанием.
                Непосредственно перед нанесением штукатурки необходимо обработать поверхность основания
                    водой.</p>
                <p>Для приготовления раствора в емкость, достаточную для перемешивания, налить 5,75-6,25
                л чистой воды и засыпать в нее постоянно перемешивая 25 кг смеси. Перемешать вручную или
                механическим способом с помощью электромеханического миксера со смесительной насадкой
                до получения однородной смеси. После 5 минутного отстаивания растворной смеси необходимо
                произвести повторное перемешивание. Растворная смесь пригодна к использованию в течение 2
                    часов.</p>
                <p>Штукатурку равномерно набрасывается на стену механизировано или вручную при помощи
                кельмы или мастерка, слоем не более 5-7 мм, с обеспечением сплошной обработки основания.
                Расход «ARDECO КЛАССИКА КРУПНОЗЕРНИСТАЯ» при нанесении обрызга - 5-10 кг/м2 в
                    зависимости от толщины нанесения. Нанесение грунта возможно не ранее чем через 2-3 суток.</p>
                <p>Температура окружающей среды в процессе работы и в течение последующих 5 суток должна
                быть не менее +5°С и не более +35°С, поверхность свежеуложенного материала необходимо
                    защитить от быстрого высыхания в течении 3 суток.</p>
                <h4 id="priming">4.2 Нанесение грунта. </h4>
                <p>Штукатурный намет выполняется составом «ARDECO КЛАССИКА КРУПНОЗЕРНИСТАЯ», необходим
                для воссоздания основного объема штукатурной отделки. Намет штукатурного раствора производят
                не ранее чем через 2-3 суток после нанесения обрызга, на предварительно увлажненное основание.
                </p>
                <p>Для приготовления раствора в емкость, достаточную для перемешивания, налить 5,75-6,25
                л чистой воды и засыпать в нее постоянно перемешивая 25 кг смеси. Перемешать вручную или
                механическим способом с помощью электромеханического миксера со смесительной насадкой
                до получения однородной смеси. После 5 минутного отстаивания растворной смеси необходимо
                произвести повторное перемешивание. Растворная смесь пригодна к использованию в течение 2
                часов.
                </p>
                <p>Штукатурную смесь равномерно нанести на основание при помощи кельмы или мастерка
                толщиной не более 20 мм за один проход. При необходимости выравнивания в несколько слоев
                повторное нанесение выполняется до схватывания предыдущего слоя. При нанесении слоя более 30
                мм штукатурку необходимо армировать штукатурной сеткой. Последний слой штукатурки подрезать
                и выровнять с помощью строительного правила.
                </p>
                <p>При восстановлении штукатурного слоя в местах утрат нанесение штукатурки необходимо
                выполнить строго к бортам крепкодержущихся штукатурных слоев. Не допускается образования
                нахлестов свежей штукатурки на старые штукатурные слои.
                Время твердения материала зависит от толщины слоя нанесения, примерно 1 день на 1 мм
                толщины штукатурки.
                </p>
                <p>Температура окружающей среды в процессе работы и в течение последующих 5 суток должна
                быть не менее +5°С и не более +35°С, поверхность свежеуложенного материала необходимо
                защитить от быстрого высыхания в течении 3 суток.
                </p>
                <h4 id="covering">4.3 Нанесение накрывочного слоя.</h4>
                <p>
                    Накрывочный (затирочный) слой выполняется составом «ARDECO КЛАССИКА МЕЛКОЗЕРНИСТАЯ»,
                    необходим для создания улучшенной поверхности и подготовки к финишному покрытию.</p>
                <p>
                    Нанесение накрывочного слоя производят не ранее чем через 2-3 суток после нанесения грунта.</p>
                <p>
                    Для приготовления раствора в емкость, достаточную для перемешивания, налить 5,0-6,0 л чистой
                воды и засыпать в нее постоянно перемешивая 20 кг смеси. Перемешать вручную или механическим
                способом с помощью электромеханического миксера со смесительной насадкой до получения
                однородной смеси. После 5 минутного отстаивания смеси необходимо произвести повторное
                    перемешивание. Растворная смесь пригодна к использованию в течение 2 часов.</p>
                <p>
                    На предварительно смоченное основание равномерно нанести штукатурку тонким слоем.
                Оштукатуренную поверхность следует затирать в момент начала схватывания. Нельзя затирать
                инструментами, смоченными водой. При необходимости возможно выравнивание в несколько
                слоев. В этом случае тщательно разравнивается и затирается только последний слой. Слои наносятся
                методом «мокрое по мокрому». Время твердения материала зависит от толщины слоя нанесения,
                примерно 1 день на 1 мм толщины штукатурки. Толщина слоя при сплошном выравнивании - от 3 до
                5 мм. Температура окружающей среды в процессе работы и в течение последующих 5 суток должна
                    быть не менее +5°С и не более +35°С.</p>
                <h4 id="putty">4.4 Нанесение шпатлевочного слоя. </h4>
                <p>
                    В зависимости от требований, предъявляемых к качеству поверхности, при необходимости
                получения более гладкой поверхности рекомендуется последующее нанесение шпатлевки «ARDECO ПРОФИ» с наибольшей крупностью зерен 0,1 мм. В большинстве случаев шпатлевка «ARDECO
                ПРОФИ» наносится на сдир.
                </p>
                <p>
                    Для приготовления раствора в емкость, достаточную для перемешивания, налить 6,0-6,6 л чистой
                воды и засыпать в нее постоянно перемешивая 20 кг смеси. Перемешать вручную или механическим
                способом с помощью электромеханического миксера со смесительной насадкой до получения
                однородной смеси. После 5 минутного отстаивания смеси необходимо произвести повторное
                перемешивание. Растворная смесь пригодна к использованию в течение 4 часов.
                </p>
                <p>
                    Растворная смесь наносится на подготовленную поверхность стальным шпателем шириной
                до 30 см при частичном выравнивании, а при полном выравнивании – шпателем шириной до
                80 см. Необходимый слой нанесения материала достигается путем распределения раствора по
                поверхности мазками, удерживая шпатель под углом к основанию. Повторное нанесение материала,
                в случае необходимости выравнивания основания несколькими слоями, возможно только после
                полного высыхания предыдущего слоя. Время высыхания материала зависит от толщины слоя
                нанесения и температуры окружающей среды – при температуре от +10°С до +20°С требуется 1
                день на каждый 1 мм нанесенной шпаклевки. После высыхания материала поверхность шлифуется
                абразивным материалом для удаления неровностей. Толщина выравнивающего слоя при сплошном
                выравнивании - от 0,1 до 3 мм, при частичном (заделывание трещин и неровностей) – до 5 мм. В
                процессе работы и в течение последующих 5 дней температура окружающей среды и основания
                должна быть не менее +5°С и не более +35°С, выровненную поверхность необходимо защитить от
                попадания прямых солнечных лучей и атмосферных осадков.
                </p>
            </section>
            <section class="documentation_section" id="facade_elements_repair">
                <h3>5. Ремонт профилированных элементов фасада</h3>
                <hr>
                <p>
                    При выполнении ремонта сохраняемых профилированных элементов фасада (пояски, тяги,
                декоративные обрамления оконных проемов, сандрики) необходимо применять реставрационные
                    материалы близкие к историческим.
                </p>
                <p>
                    Если профилированные элементы фасада были выполнены известковыми и (или) известковопуццолановыми материалами ремонт необходимо выполнить с помощью следующих материалов
                    на выбор:
                </p>
                    <ul class="documentation_list">
                        <li><a href="/profi/profi-base">шпаклевки «ARDECO ПРОФИ БАЗОВАЯ»</a> - сухая смесь на известковом вяжущем с
                            добавлением гидравлической добавки с использованием мелкого кварцевого песка,
                            карбонатного наполнителя и модифицирующих добавок;</li>
                        <li><a href="/classic/profile">штукатурки «ARDECO КЛАССИКА ПРОФИЛЬНАЯ»</a> - сухая смесь на известковом вяжущем
                            с добавлением гидравлической добавки с использованием мелкого кварцевого песка и
                            модифицирующих добавок.</li>
                    </ul>
                <p>
                    Перед восполнением утрат или устройством новых профилированных элементов по шаблону
                необходимо тщательно произвести подготовку профилированных элементов фасада.
                Расчистить элементы от краски и цементсодержащих накрывок до паропроницаемого штукатурного
                слоя с помощью ручного или механического инструмента, при необходимости применить смывку
                    для удаления старой краски на органических растворителях.
                </p>
                <p>
                    Трещины расшить, укрепить створы трещин акрилатной грунтовкой «ARDECO», заполнить
                    трещины, сколы, выбоины на сдир шпаклевкой «ARDECO ПРОФИ БАЗОВАЯ» или штукатуркой «ARDECO КЛАССИКА ПРОФИЛЬНАЯ» согласно п. 2.5 данной ТТК.
                </p>
                <p>
                    Для приготовления раствора в емкость, достаточную для перемешивания, налить 5,0-6,0 л чистой
                воды и засыпать в нее постоянно перемешивая 20 кг смеси. Перемешать вручную или механическим
                способом с помощью электромеханического миксера со смесительной насадкой до получения
                однородной смеси. После 5 минутного отстаивания смеси необходимо произвести повторное
                    перемешивание. Растворная смесь пригодна к использованию в течение 2 часов.
                </p>
                <p>
                    На предварительно смоченное основание нанести состав для ремонта профилированных
                элементов слоем 1-5 мм. Второй слой наносится через 3-4 часа слоем 1-3 мм на поверхность
                увлажненного первого слоя. Поверхность последнего слоя необходимо затереть через 2 часа.
                Время твердения материала зависит от толщины слоя нанесения, примерно 1 день на 1 мм толщины
                раствора. Температура окружающей среды в процессе работы и в течение последующих 5 суток
                    должна быть не менее +5°С и не более +35°С.
                </p>
                <p>
                    После полного отвердевания материала необходимо на предварительно загрунтованные
                    профилированные элементы адгезионным грунтом «ARDECO» нанести фасадную краску за 2 раза
                    методом тампонирования или распыления.
                </p>
            </section>
            <section class="documentation_section" id="facade_finishing_coating">
                <h3>6. Финишное покрытие фасада здания</h3>
                <hr>
                <p>
                    Для окрашивания фасада здания, оштукатуренных известковыми штукатурками, следует применять
                    атмосферостойкие и паропроницаемые силикатные и известковые краски, установленных проектом.
                </p>
            </section>
            <section class="documentation_section" id="basement_plastering">
                <h3>7. Оштукатуривание поверхностей цоколей, подвалов, влажных помещений</h3>
                <hr>
                <p>
                    Для осушения и выравнивания стен из бетона, кирпича, газобетона, а также заделки стыков
                и отдельных неровностей бетонных и железобетонных плит во влажных помещениях следует
                применять санирующие штукатурки «ARDECO». Санирующая система «ARDECO» способствует
                удержанию солей внутри стены, создавая при этом водоотталкивающий поверхностный слой.
                Благодаря развитой микропористой структуре рекомендуется для осушения и реставрации влажных
                каменных, кирпичных или бетонных стен.
                </p>
                <p>Устройство многослойного штукатурного покрытия включает в себя следующие операции:</p>
                <ul class="documentation_list">
                    <li>нанесение обрызга составом <a href="/sanitize/sanitizing">«ARDECO САНИРУЮЩАЯ»</a> ;</li>
                    <li>нанесение грунта составом «ARDECO САНИРУЮЩАЯ»; </li>
                    <li>нанесение накрывочного слоя <a href="/sanitize/covering">«ARDECO САНИРУЮЩАЯ НАКРЫВОЧНАЯ»</a> </li>
                </ul>
                <h4 id="plaster-splashing">7.1 Нанесение обрызга.</h4>
                <p>
                    Нанесение обрызга выполняется составом «ARDECO САНИРУЮЩАЯ», необходимо для прочного
                сцепления штукатурного намета с основанием.
                </p>
                <p>
                    Непосредственно перед нанесением штукатурки необходимо обработать поверхность основания
                водой.
                </p>
                <p>
                    Для приготовления раствора в емкость, достаточную для перемешивания, налить 5,75-6,25
                л чистой воды и засыпать в нее постоянно перемешивая 25 кг смеси. Перемешать вручную или
                механическим способом с помощью электромеханического миксера со смесительной насадкой
                до получения однородной смеси. После 5 минутного отстаивания растворной смеси необходимо
                произвести повторное перемешивание. Растворная смесь пригодна к использованию в течение 2
                часов.
                </p>
                <p>
                    Штукатурку равномерно набрасывается на стену механизировано или вручную при помощи
                кельмы или мастерка, слоем не более 5-7 мм, с обеспечением сплошной обработки основания.
                </p>
                <p>
                    Расход «ARDECO САНИРУЮЩАЯ» при нанесении обрызга - 5-10 кг/м2 в зависимости от толщины
                нанесения. Нанесение грунта возможно не ранее чем через 2-3 суток.
                </p>
                <p>
                    Температура окружающей среды в процессе работы и в течение последующих 5 суток должна
                быть не менее +5°С и не более +35°С, поверхность свежеуложенного материала необходимо
                защитить от быстрого высыхания в течении 3 суток.
                </p>
                <h4 id="plaster-priming">7.2 Нанесение грунта. </h4>
                <p>
                    Штукатурный намет выполняется составом «ARDECO САНИРУЮЩАЯ», необходим для воссоздания
                основного объема штукатурной отделки. Намет штукатурного раствора производят не ранее чем
                    через 2-3 суток после нанесения обрызга, на предварительно увлажненное основание.
                </p>
                <p>
                    Для приготовления раствора в емкость, достаточную для перемешивания, налить 5,75-6,25
                л чистой воды и засыпать в нее постоянно перемешивая 25 кг смеси. Перемешать вручную или
                механическим способом с помощью электромеханического миксера со смесительной насадкой
                до получения однородной смеси. После 5 минутного отстаивания растворной смеси необходимо
                произвести повторное перемешивание. Растворная смесь пригодна к использованию в течение 2
                    часов.
                </p>
                <p>
                    Штукатурную смесь равномерно нанести на основание при помощи кельмы или мастерка
                толщиной не более 20 мм за один проход. При необходимости выравнивания в несколько слоев
                повторное нанесение выполняется до схватывания предыдущего слоя. При нанесении слоя более 30
                мм штукатурку необходимо армировать штукатурной сеткой. Последний слой штукатурки подрезать
                    и выровнять с помощью строительного правила.
                </p>
                <p>
                    При восстановлении штукатурного слоя в местах утрат нанесение штукатурки необходимо
                выполнить строго к бортам крепкодержущихся штукатурных слоев. Не допускается образования
                нахлестов свежей штукатурки на старые штукатурные слои.
                Время твердения материала зависит от толщины слоя нанесения, примерно 1 день на 1 мм
                    толщины штукатурки.
                </p>
                <p>
                    Температура окружающей среды в процессе работы и в течение последующих 5 суток должна
                быть не менее +5°С и не более +35°С, поверхность свежеуложенного материала необходимо
                    защитить от быстрого высыхания в течении 3 суток.
                </p>
                <h4 id="plaster-covering">7.3 Нанесение накрывочного слоя.</h4>
                <p>
                    Накрывочный (затирочный) слой выполняется составом «ARDECO САНИРУЮЩАЯ НАКРЫВОЧНАЯ»,
                необходим для создания улучшенной поверхности и подготовки к финишному покрытию.
                </p>
                <p>
                    Нанесение накрывочного слоя производят не ранее чем через 2-3 суток после нанесения грунта.
                </p>
                <p>
                    Для приготовления раствора в емкость, достаточную для перемешивания, налить 5,0-6,0 л чистой
                воды и засыпать в нее постоянно перемешивая 20 кг смеси. Перемешать вручную или механическим
                способом с помощью электромеханического миксера со смесительной насадкой до получения
                однородной смеси. После 5 минутного отстаивания смеси необходимо произвести повторное
                перемешивание. Растворная смесь пригодна к использованию в течение 2 часов.
                На предварительно смоченное основание равномерно нанести штукатурку тонким слоем.
                </p>
                <p>
                    Оштукатуренную поверхность следует затирать в момент начала схватывания. Нельзя затирать
                инструментами, смоченными водой. При необходимости возможно выравнивание в несколько
                слоев. В этом случае тщательно разравнивается и затирается только последний слой. Слои наносятся
                методом «мокрое по мокрому». Время твердения материала зависит от толщины слоя нанесения,
                примерно 1 день на 1 мм толщины штукатурки. Толщина слоя при сплошном выравнивании - от 3 до
                5 мм. Температура окружающей среды в процессе работы и в течение последующих 5 суток должна
                быть не менее +5°С и не более +35°С.
                </p>
            </section>
            <section class="documentation_section" id="quality_requirements">
                <h3>8. Требования к качеству и приемке работ</h3>
                <hr>
                <p>
                    При проведении штукатурных работ необходимо осуществлять следующие виды контроля
                    качества:</p>
                <ul class="documentation_list">
                    <li>входной контроль качества;</li>
                    <li>операционный контроль качества;</li>
                    <li>приемочный контроль качества.</li>
                </ul>
                <p>
                    При входном контроле проверяют соответствие качества поступающих материалов требованиям
                ГОСТов и ТУ. Проверяют соответствия изделий проекту, их внешний вид, наличие дефектов.
                    Исполнителем этого вида контроля является звеньевой, бригадир, при необходимости - мастер.
                </p>
                <p>
                    Металлические профили (маяки и сетчатые уголки) должны должны быть прямолинейными.
                Местная кривизна профилей не должна превышать 2 мм на 1 м длины профиля. Предельное
                отклонение длины профилей не должно превышать ±3 мм. Предельные отклонения по толщине
                профилей не должны превышать допусков на толщину листовой оцинкованной стали, установленных
                соответствующими стандартами.
                </p>
                <p>
                    Температурно-влажностный режим должен соответствовать температура не ниже +5°С, влажность
                не выше 70%.
                </p>
                <p> При операционном контроле выявляются и устраняются дефекты, возникающие в процессе
                    штукатурных работ:</p>
                <ul class="documentation_list">
                    <li>оштукатуренные поверхности должны быть ровными, гладкими, с четкими гранями углов
                        и пересекающихся поверхностей;
                    </li>
                    <li>вертикальность оштукатуренной поверхности проверяется строительным уровнем,
                        отвесом;
                    </li>
                    <li>оштукатуренные поверхности должны иметь не более двух неровностей поверхности
                        глубиной или высотой до 1 мм на 4 м2 поверхности.
                    </li>
                </ul>
            </section>
            <section class="documentation_section" id="safety_precautions">
                <h3>9. Техника безопасности</h3>
                <hr>
                <p>
                    При работе с материалом используйте индивидуальные средства защиты, предохраняющие от
                    попадания смеси в дыхательные пути и на кожу. В случае попадания смеси в глаза промойте их
                    водой и при необходимости обратитесь к врачу
                </p>
            </section>
            <section class="documentation_section" id="instrument_cleaning">
                <h3>10. Очистка инструмента</h3>
                <hr>
                <p>
                    Инструмент и оборудование сразу после окончания работ требуется тщательно промыть
                    водой. Воду, использованную для очистки инструмента, нельзя применять для изготовления новой
                    растворной смеси.
                </p>
            </section>
            <section class="documentation_section" id="specifications">
                <h3>11. Технические характеристики материалов «ARDECO»</h3>
                <hr>
                <nav class="specification_nav">
                    <div class="specification_nav__group">
                        <p class="specification_nav__title">КЛАССИКА</p>
                        <div class="specification_nav__block">
                            <div class="specification_nav__material active">КРУПНОЗЕРНИСТАЯ</div>
                            <div class="specification_nav__material">МЕЛКОЗЕРНИСТАЯ</div>
                            <div class="specification_nav__material">ПРОФИЛЬНАЯ</div>
                        </div>
                    </div>
                    <div class="specification_nav__block">
                        <div class="specification_nav__group">
                            <p class="specification_nav__title">ПРОФИ</p>
                            <div class="specification_nav__block">
                                <div class="specification_nav__material">БАЗОВАЯ</div>
                                <div class="specification_nav__material">ПРОФИ</div>
                            </div>
                        </div>
                    </div>
                    <div class="specification_nav__block">
                        <div class="specification_nav__group">
                            <p class="specification_nav__title">САНИРУЮЩАЯ</p>
                            <div class="specification_nav__block">
                                <div class="specification_nav__material">САНИРУЮЩАЯ</div>
                                <div class="specification_nav__material">НАКРЫВОЧНАЯ</div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="tables center">
                    <div class="tables__slider">
                        <div class="tables__slider_line">
                            <%- include("../layouts/tables/hard-grained-table.ejs") %>

                            <%- include("../layouts/tables/fine-grained-table.ejs") %>

                            <%- include("../layouts/tables/classic-profile-table.ejs") %>

                            <%- include("../layouts/tables/profi-base-table.ejs") %>

                            <%- include("../layouts/tables/profi-table.ejs") %>

                            <%- include("../layouts/tables/sanitizing-table.ejs") %>

                            <%- include("../layouts/tables/sanitize-covering-table.ejs") %>

                        </div>
                    </div>
                </div>
                <p class="note">
                    Изготовитель гарантирует соответствие смеси требованиям технических условий при соблюдении потребителем условий транспортирования, хранения и указаний настоящей инструкции.
                </p>

            </section>
        </div>
        <a href="#top" id="back-to-top" class="back-to-top" title="в начало">▲</a>
    </main>

    <%- include("../layouts/footer.ejs") %>

    <script>
        <%- include("../../static/script/tablify.js") %>
    </script>
</body>
</html>